<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Supercharge your debugging experience.</title>
    <meta name="description" content="Supercharge your debugging experience, a talk on webpage debugging using chrome devtools">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        🔋Supercharge your debugging experience
      </h1>
    </header>
    <main>      
      <video
        type="video/mov"
        loop
        autoplay
        width="400"
        controls
        src="https://cdn.glitch.com/ffac3492-1229-4c83-ad29-1b98ca47bffe%2Fwarn-video.mov?1532612466277" />
    </main>
  </body>
</html>
