.main-title {
  font-size: 100px !important;
}

.px-10 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.text-white{
  color: #fff !important;
}

.bg-blue {
  background-color: #2962ff;
}

.bg-black {
  background-color: #263238;
}

.bg-yellow {
  background-color: #fdd835;
  color: #000;
}

.bg-red {
  background-color: #f44336;
}

.bg-green {
  background-color: #00695c;
}
.bg-dark-green {
  background-color: #004d40;
}

.text-xl {
  font-size: 70px !important;
  font-weight: bold !important;
}

svg {
  display: block;
  height: 70px;
  margin: 0 auto 20px;
}

.no-style-list {
  margin: 0 !important;
}

.no-style-list li {
  list-style: none;
}

.sources li {
  padding: 10px;
}

.pointer {
  cursor: pointer !important;
}


/* SNIPPETS FORM */

.step-form{
  transition: opacity 0.2s,
              transform 1s;
  transition-timing-function: ease;
  z-index: -1;
  position: absolute;
  left: 25%;
  opacity: 0;
  margin: 0 auto !important;
}

.step-form label{
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.step-form button,
#success button{
  width: 200px;
  height: 50px;
  font-size: 0.7em;
  background-color: #000;
  color: white;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.step-form label input{
  margin-left: 10px;
  padding-left: 10px;
  height: 50px;
  width: 180px;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 1em;
}

.active{
  z-index: 1;
  opacity: 1;
}

.hidden{
  display:none !important;
}