.main-title {
  font-size: 100px !important;
}

.px-10 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.text-white{
  color: #fff !important;
}

.bg-blue {
  background-color: #2962ff;
}

.bg-black {
  background-color: #263238;
}

.bg-yellow {
  background-color: #fdd835;
  color: #000;
}

.bg-red {
  background-color: #f44336;
}

.bg-green {
  background-color: #00695c;
}
.bg-dark-green {
  background-color: #004d40;
}

.text-xl {
  font-size: 70px !important;
  font-weight: bold !important;
}

svg {
  display: block;
  height: 70px;
  margin: 0 auto 20px;
}

.no-style-list {
  margin: 0 !important;
}

.no-style-list li {
  list-style: none;
}

.sources li {
  padding: 10px;
}

.pointer {
  cursor: pointer !important;
}
